/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#game {
	text-align: center;
	font-size: 12pt;
  color: white;
  background-color: #060ce9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}